* {
    box-sizing: border-box;
}

.terms {
    margin-left: 20px;
}

.hidden {
    display: none;
}

.login_page {
    display: none;
    background-color: skyblue;
    margin-top: 100px;
}

.center {
    display: flex;
    justify-content: center;
}

.counter {
    margin-top: 500px;
}