* {
    margin: 0px;
}
.body {
    background-color: aqua;
}
.align {
    display: flex;
}
.loading {
    color: blue;
    font-size: 150%;
}
.hidden {
    display: none;
}
.recommended_values {
    margin-top: 20px;
}
.value{
    margin-bottom: 10px;
}
.p1 {
    margin-top: 20px;
}
.zoom-info {
    font-size: 150%;
    color: red;
}
.myCanvas {
    margin: 10px;
}
.mandel_size_div {
    margin-top: 10px;
}


















































