* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.body {
    display: flex;
    justify-content: center;
    background-color: aqua;
}
.center-box {
    background-color: yellow;
    width: 700px;
}
.number-box {
    background-color: white;
    overflow-wrap: break-word;
}