* {
    padding: 0px;
    margin: 0px;
}
.body {
    background-color: rgb(5, 128, 5);
}
.canvas1 {
border: 2px solid rgb(255, 230, 2);
background-color: black;
}
.page {
 margin-top: 20px;
 display: flex;
 justify-content: center;
 position: relative;
}
.terminal-input {
    margin-top: 10px;
    color: rgb(27, 206, 21);
}
.code-lines {
    color: rgb(27, 206, 21);
}
.input-area {
    display: flex;
    width: 500px;
    height: 500px ;
    border: 2px solid yellow;
    background-color: black;
    justify-content: flex-end;
    align-content: flex-end;
    flex-direction: column;
}